!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Csv Import
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		%header.container.mt-2
			.row
				.col-12
					%h1
						="CSV import application"
		.container.mt-2
			%h2
				=content_for :page_title
			=flash_messages
			= yield
